//
@import "partials/common";
@import "partials/variables";

header{
    margin: 2rem 0;
    height: 13vh;
    background-color: white;
}

div.my-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    img{
        height: 70%;
        padding: 1rem;
    }

    ul{
        display: flex;

        li{
            list-style-type: none;
            padding: 0 .6rem;
            line-height: 12vh;

            a{
                font-size: .7rem;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                color: black;
            }

            &:active,
            &.active{
                border-bottom: $primaryColor 5px solid;
            }
        }
    }
}

nav.header-nav,
ul {
    height: 100%;
}


main{
    background-color: $darkGrayColor;
}

    .comic-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;

        .comic-element{
            width: calc(20% - (.8rem));
            height: fit-content;
            margin: .1rem;
            margin-bottom: 1rem;
            background-color: $darkGrayColor;
            padding: 1rem;
            text-align: center;
            color: white;

            img{
                width: 100%;
            }
        }
    }
}
